* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul, ol {
    list-style: none;
}
h1,h2,h3,h4,h5,h6,h7{
  margin-top:20px;
  margin-bottom:20px; 
  margin-left:170px;
}

p{
  margin-top:7px;
  margin-bottom:7px;
  margin-left:170px;
}
img{
  margin: 7px 7px 7px 7px;
 
}
figcaption{
  text-align:center;
}
#map{
  margin-left:170px;
}
/*
#1 Por padrão será resetado e definido alguns padrões, caso necessário altera na suas respectativa id ou class

#2 Como o site possui um menu lateral esquerdo, será ele que irá ditar o quanto de espaçamento, margin entre outros necessários em que os objetos ficaram perto ou longe dele

#3 No caso de implementação de menus laterais como baixo ou direita, se aplica a regra anterior

#4 A leitura do css é de cima esquerda meio direita baixo.

#5 A margem padrão será de 20px, caso ache necessáro pode alterar o valor.

#6 apesar de ter o footer, não foi implementado no html
*/

#navbar {
    display: block;
    background-color: blue;
    background-image: linear-gradient(to bottom right, blue, red);
    text-transform: uppercase;
    padding-left: 20px;
}

#navbar p {
    color: white;
  font-size:24px;
  margin-top:0;
  margin-bottom:0;
  margin-left:0;
}

#menu-lateral-esquerdo {
    float: left;
    height: 100%;
    /*Tamanho da barra lateral*/
    max-width: 38%;
    padding-top: 30px;
    background-color: yellow;
    position:fixed;
}

#menu-lateral-esquerdo a {
    padding: 5px 20px;
    color: #000;
    text-decoration: none;
    line-height: 40px;
}

#menu-lateral-esquerdo a:hover {
    background-color: blue;
    color: white;
}

#conteudo-principal {
    padding-top: 40px;
    max-width: 100%;
   margin-left:170px;
}

#conteudo-principal h2 {
    padding-bottom: 20px;
}

#conteudo-principal select {
    margin-bottom: 10px;
    width:170px;
}

#conteudo-principal button {
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 1px;
}

.tamanho-select {
    width: 20%;
    margin-left: 5px;
}

.tabela-alternada {
    width: 100%;
    margin-left:170px;
    margin-bottom: 30px;
}

.tabela-alternada td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

.tabela-alternada tr:nth-child(even) {
    background-color: #dddddd;
}

.tabela-alternada th {
    background-color: #4CAF50;
    color: white;
}

#conteudo-auxiliar {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px 20px 20px 170px;
    padding: 30px 80px 5px 26px;
    border: 1px solid gray;
}

ol.decimal {
    list-style-type: decimal;
}

#conteudo-auxiliar p {
    margin-bottom: 20px;
    margin-left: -15px;
}

#conteudo-auxiliar-imagem {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px 20px 20px 170px;
    padding: 30px 80px 5px 26px;
    border: 1px solid gray;
}

#imagem {
    width: 200px;
    height: 130px;
}
.avatar {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
   margin-left:170px;
}


footer {
    clear: both;
    margin: 0 auto;
    text-align: center;
}